<h1>Assignments</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>Role</th>
    <th>Status</th>
  </tr>
<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.id %></td>
    <td><%= assignment.role.name %></td>
    <td><%= assignment.status.name %></td>
  </tr>
<% end %>
</table>