<h1>Statuses</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Require assignee?</th>
  </tr>
<% @statuses.each do |status| %>
  <tr>
    <td><%= status.id %></td>
    <td><%= status.name %></td>
    <td><%= status.requires_assignee %></td>
  </tr>
<% end %>
</table>
