<h1>Orders</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>User</th>
    <th>Paid?</th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.user.name %></td>
    <td><%= order.paid %></td>
  </tr>
<% end %>
</table>
