<h1>Permissions</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.id %></td>
    <td><%= permission.name %></td>
    <td><%= permission.description %></td>
  </tr>
<% end %>
</table>