<h1>Items</h1>

<table class="index-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item_path(item.id) %></a></td>
    <td><%= item.description %></td>
    <td><%= item.price %>€</td>
  </tr>
<% end %>
</table>