<h1><%= @order_item_status.id %></h1>
<ul class="show-container">
<li>Status id: <%= @order_item_status.status_id %></li>
<li>Order item id: <%= @order_item_status.order_item_id %></li>
<li>User id: <%= @order_item_status.user_id %></li>
</ul>