<h1>Authorizations</h1>

<table class="index-table">
  <tr>
    <th>Id</th>
    <th>Role</th>
    <th>Permission</th>
  </tr>
<% @authorizations.each do |authorization| %>
  <tr>
    <td><%= authorization.id %></td>
    <td><%= authorization.role.name %></td>
    <td><%= authorization.permission.name %></td>
  </tr>
<% end %>
</table>